/* COMMON */
.body-container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.body__container {
    
}

/* HEADER영역 */
header {
    background-color: #cda0eb;
}

header .inner {
    max-width:1200px;
    height: 80px;
    margin: 0 auto;
}

header .bundle {
    display: flex;
    align-items: center;
    height: 100%;
    content: "";
    clear: both;
    display: block;
}

header .logo {
    float: left;
}

header .logo a {
    display: block;
    padding: 5px;
    margin: 20px 40px;
    font-size:24px;
    font-weight: 500;
    color: #FFF;
}
header .menu {
    display:flex;
    float: right;
}

header .menu li a {
    display: block;
    padding: 10px;
    margin: 20px 40px;
    color: #FFF;
}

header .menu li a:hover {
    font-weight: 500;
}

section {
    background-color: #cda0eb;
    background-repeat: no-repeat;
    padding-top: 160px;
}

/* section .container {
    position: absolute;
} */


/* main 영억 */
section .main_bundle {
    overflow: hidden;
    height: 775px;
}

section .player {
    display: flex;
    align-items: center;
    margin : 0 auto;
    max-width: 140px;
    margin-top: 170px;
    padding-left: 20px;
    font-size: 20px;
}

svg {
    display:block;
    align-content: center;
}

.music-info {
    display: block;
    margin: 10px;
}

.flex-box {
    display: flex;
    justify-content: center;
    max-width: 1008px;
    margin: 0 auto;
}

.center-box {
    padding-left:20px;
}

/* 앨범 이미지 영역 */
.album {

}

.wrapper {
    display: flex;
    justify-content: center;
}

section .inner {
    /* padding: 20px;
    padding-left: 60px; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 30px;
    position: relative;
}
.album-box {
    margin: auto;
    width: 750px;
    height: 750px;
    border-radius: 70% 70%;
    overflow: hidden;
    box-shadow:6px 6px 6px 6px #363436;
    
}

.album-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-inner-line {
    position: absolute;
    top: 220px;
    left: 200px;
}

/* .small-inner {
    position: absolute;
    top: 30;
    left: 20;
    width: 400px;
    height: 400px;
} */

.inner-line-img {
    width: 130%;
    height: 130%;
    object-fit: cover;
}

.player-side {
    color: white;
    width: 50px;
    height: 200px;
    margin-top: 550px;
    margin-left: 20px;
}

.svg {
    border : none;
    background : none;
    color: white;
    font-size : 26px;
    margin: 5px;

    
}

/* .album-inner-line {
    object-fit: contain;
    width: 200px;
    height:200px;
    border: 2px solid rebeccapurple;
    border-radius:100px;
    background-color: white;
    position: absolute;
    top: 20;
    left: 20;
} */

nav .outer {
    padding
    
}

nav .balloon {
    position: relative;
    width: 210px;
    height: 120px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

nav .balloon:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 11px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 42px;
}



