/* COMMON */
.body-container {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.body__container {
    
}

/* HEADER영역 */
header {
    background-color: #cda0eb;
}

header .inner {
    max-width:1200px;
    height: 80px;
    margin: 0 auto;
}

header .bundle {
    display: flex;
    align-items: center;
    height: 100%;
    content: "";
    clear: both;
    display: block;
}

header .logo {
    float: left;
}

header .logo a {
    display: block;
    padding: 5px;
    margin: 20px 40px;
    font-size:24px;
    font-weight: 500;
    color: #FFF;
}
header .menu {
    display:flex;
    float: right;
}

header .menu li a {
    display: block;
    padding: 10px;
    margin: 20px 40px;
    color: #FFF;
}

header .menu li a:hover {
    font-weight: 500;
}

section {
    background-color: #cda0eb;
    background-repeat: no-repeat;
    padding-top: 34vh;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

.body__container {
    width: 100%;
    height: 100%;
}

/* main 영억 */
section {
    width: 100%;
    height: 100%;
    
}

section .main_bundle {
    max-width: 100%;
    margin: 0 auto;
   
}

.flex-box {
    display: flex;
    justify-content: center;
    max-width: 1008px;
    margin: 0 auto;
}

.center-box {
    padding-left:40px;
}

section .player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0 auto;
    max-width: 100%;
    font-size: 20px;
}

svg {
    display:block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-info {
    display: block;
    margin: 10px;
}



/* 앨범 이미지 영역 */
.album {

}

.wrapper {
    display: flex;
    justify-content: center;
}

section .inner {
    /* padding: 20px;
    padding-left: 60px; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
    margin-top: 5vh;
    position: relative;
}
.album-box {
    margin: auto;
    width: 80vh;
    height: 80vh;
    border-radius: 70% 70%;
    overflow: hidden;
    box-shadow:6px 6px 6px 6px #363436;
    
}

.album-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.album-inner-line {
    position: absolute;
    top: 22vh;
    left: 18vh;
}

/* .small-inner {
    position: absolute;
    top: 30;
    left: 20;
    width: 400px;
    height: 400px;
} */

.inner-line-img {
    width: 130%;
    height: 130%;
    object-fit: cover;
}

.player-side {
    color: white;
    width: 50px;
    margin-top: 30vh;
    margin-left: 20px;
}

.svg {
    border : none;
    background : none;
    color: white;
    font-size : 26px;
    margin: 5px;

    
}

/* .album-inner-line {
    object-fit: contain;
    width: 200px;
    height:200px;
    border: 2px solid rebeccapurple;
    border-radius:100px;
    background-color: white;
    position: absolute;
    top: 20;
    left: 20;
} */

nav .outer {
    padding
    
}



